In [6]:
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests
from scipy.stats import wilcoxon

In [4]:
data = pd.read_csv('AUCs.txt','\t')

In [5]:
data

                 Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [8]:
cor_data = []
for i in data.columns[1:]:
    for j in data.columns[1:]:
        if i>=j:
            continue
        res = wilcoxon(data[i],data[j])
        cor_data.append([i,j,res[0],res[1]])

In [9]:
clf_correlation = pd.DataFrame(cor_data)
clf_correlation.columns = ['clf1', 'clf2', 'Wilcoxon', 'p']

In [10]:
clf_correlation

      clf1       clf2  Wilcoxon         p
0     C4.5     C4.5+m       6.5  0.010757
1     C4.5    C4.5+cf      43.0  0.861262
2     C4.5  C4.5+m+cf      11.0  0.015906
3   C4.5+m  C4.5+m+cf      22.0  0.327826
4  C4.5+cf     C4.5+m      17.0  0.046333
5  C4.5+cf  C4.5+m+cf      10.0  0.022909

In [ ]:
# Q2 - C4.5/C4.5+m
# Q3 - 4
# Q5 - m

In [11]:
reject, p_corrected, a1, a2 = multipletests(clf_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [12]:
clf_correlation['p_corrected'] = p_corrected
clf_correlation['reject'] = reject

In [13]:
clf_correlation

      clf1       clf2  Wilcoxon         p  p_corrected reject
0     C4.5     C4.5+m       6.5  0.010757     0.064543  False
1     C4.5    C4.5+cf      43.0  0.861262     0.861262  False
2     C4.5  C4.5+m+cf      11.0  0.015906     0.079532  False
3   C4.5+m  C4.5+m+cf      22.0  0.327826     0.655651  False
4  C4.5+cf     C4.5+m      17.0  0.046333     0.138998  False
5  C4.5+cf  C4.5+m+cf      10.0  0.022909     0.091636  False

In [14]:
# Q5 - 0

In [15]:
reject, p_corrected, a1, a2 = multipletests(clf_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')
clf_correlation['p_corrected'] = p_corrected
clf_correlation['reject'] = reject

In [16]:
clf_correlation

      clf1       clf2  Wilcoxon         p  p_corrected reject
0     C4.5     C4.5+m       6.5  0.010757     0.045818   True
1     C4.5    C4.5+cf      43.0  0.861262     0.861262  False
2     C4.5  C4.5+m+cf      11.0  0.015906     0.045818   True
3   C4.5+m  C4.5+m+cf      22.0  0.327826     0.393391  False
4  C4.5+cf     C4.5+m      17.0  0.046333     0.069499  False
5  C4.5+cf  C4.5+m+cf      10.0  0.022909     0.045818   True