In [36]:
import pandas as pd
import numpy as np
import scipy
import math

In [10]:
data = pd.read_csv('water.txt','\t')

In [11]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [12]:
data[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [13]:
# Q1 - -0.6548

In [14]:
data[['mortality','hardness']].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [15]:
# Q2 - -0.6317

In [16]:
data_south = data[data.location=='South']
data_north = data[data.location=='North']

In [17]:
data_south[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [18]:
data_north[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [19]:
# Q3 - -0.3686

In [20]:
def calc_mat(a,b,c,d):
    return float(a*d-b*c)/math.sqrt((a+b)*(a+c)*(b+d)*(c+d))

In [61]:
calc_mat(203,718,239,515)

-0.10900237458678963

In [22]:
# Q4 = -0.109

In [23]:
from scipy.stats import chi2_contingency

In [59]:
chi2, p, dof, ex = chi2_contingency(np.array([[203,718],[239,515]]))

In [60]:
p

1.0558987006638725e-05

In [26]:
# Q5 = 5

In [38]:
def proportions_diff_confint_ind(a, b, c, d, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    n1 = a+b
    n2 = c+d
    p1 = float(a) / n1
    p2 = float(c) / n2
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    
    return (left_boundary, right_boundary)

In [30]:
def proportions_diff_z_stat_ind(a,b,c,d):
    n1 = a+b
    n2 = c+d
    
    p1 = float(a) / n1
    p2 = float(c) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [31]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [62]:
print "95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(239,515,203,718)

95% confidence interval for a difference between proportions: [0.053905, 0.139222]

In [ ]:
# Q6 - 0.0539

In [41]:
print "p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(203,718,239,515))

p-value: 0.000008

In [ ]:
# Q7 - 6

In [42]:
data = np.array([[197,111,33],[382,685,331],[110,342,333]])

In [43]:
chi2, p, dof, ex = chi2_contingency(data, correction=False)

In [44]:
chi2

293.68311039689746

In [51]:
#Q8 - 293.6831

In [45]:
p

2.4964299580093467e-62

In [50]:
#Q9 - 62

In [49]:
math.sqrt(chi2/(np.sum(data)*2))

0.2412013934500338

In [ ]:
#Q10 - 0.2412