In [13]:
import pandas as pd
import numpy as np
import math

In [4]:
data = pd.read_csv('water.txt','\t')

In [5]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
data[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [ ]:
# Q1 - -0.6548

In [8]:
data[['mortality','hardness']].corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [ ]:
# Q2 - -0.6317

In [10]:
data_south = data[data.location=='South']
data_north = data[data.location=='North']

In [11]:
data_south[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [12]:
data_north[['mortality','hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [ ]:
# Q3 - -0.3686

In [14]:
def calc_mat(a,b,c,d):
    return float(a*d-b*c)/math.sqrt((a+b)*(a+c)*(b+d)*(c+d))

In [15]:
calc_mat(203,239,718,515)

-0.10900237458678963

In [ ]:
# Q4 = -0.109

In [ ]:
from sc